.container.white.full-height

  .grid-item.w-1_4
    %br
  .grid-item.w-2_4.full-height
    .table-container
      .table-title
        Available Channels
        - if current_user.can_create? Channel
          %button.plus-btn{'data-modal-id': 'channel_modal'}
            +
      %table.table
        %tbody
          - @channels.each do |channel|
            %tr
              %td.hash #
              %td
                = channel.name
              - if current_user.can_delete? Channel
                %td
                  = button_to 'Delete', {controller: :channels, action: 'destroy', id: channel.id }, method: :delete
              %td.link
                = link_to '>', channel_path(channel)

- if current_user.can_create? Channel
  = render partial: 'application/modal/channel_modal'
