.container.white
  .grid-item.w-1_4
    %br
  .grid-item.w-2_4.full-height
    .table-container
      .table-title
        #{current_user.first_name}'s Teams
      %table.table
        %thead
          %tr
            %th Type
            %th Name
            %th &nbsp;
            %th &nbsp;
        %tbody
          - @teams.each do |team|
            %tr
              %td
                = team.type
              %td
                = team.name
              %td
                = link_to "View", team_path(team.id)
              - if current_user.can_delete? Organization
                %td
                  = button_to 'Delete', {controller: :teams, action: 'destroy', id: team.id }, method: :delete

/ .left-menu-container
/   .left-menu
/     .left-menu-item
/       = svg_icon 'admin_team'
/       .title
/         Administrative
/         %br
/         Team
/     .left-menu-item
/       = svg_icon 'standards_ethics_team'
/       .title
/         Standards &
/         %br
/         Ethics Team

/     .left-menu-item
/       = svg_icon 'finance_team'
/       .title
/         Finance
/         %br
/         Team

/     .left-menu-item
/       = svg_icon 'social_enrichment_team'
/       .title
/         Social Enrichment
/         %br
/         Team

/     .left-menu-item.active
/       = svg_icon 'total_membership_education_team'
/       .title
/         Total Membership
/         %br
/         Education Team

/     .left-menu-item
/       = svg_icon 'recruitment_marketing_team'
/       .title
/         Recruitment &
/         %br
/         Marketing Team

/     .left-menu-item
/       = svg_icon 'panhellenic_team'
/       .title
/         Panhellenic
/         %br
/         Team

/     .left-menu-item
/       = svg_icon 'organizational_chart'
/       .title
/         Organization
/         %br
/         Chart


/ .container.white.full-height.left-menu-margin
/   .grid-item.w-2_3.full-height
/     .grid-item.half-height.full-width
/       .table-container.inside-bottom-border
/         .table-title
/           Tasks
/           %button.plus-btn{'data-modal-id': 'tasks_modal'}
/             +
/         %table.table
/           %thead
/             %tr
/               %th
/                 Action!
/               %th
/                 Due
/               %th
/                 Item
/               %th
/                 Owner
/               %th
/           %tbody
/             -#- @tasks.each do |task|
/             -#  %tr
/             -#    %td.icon
/             -#      0
/             -#    %td
/             -#      = task.due_at.strftime('%_m/%_d/%y')
/             -#    %td
/             -#      = task.notes
/             -#    %td
/             -#      = task.owner_full_name
/             -#    %td
/             -#      view / update / approve
/             -#
/             -#
/     .grid-item.half-height.full-width

/       .grid-item.full-height.half-width.right-border

/         .table-container.right-border
/           .table-title.small
/             Total Membership Education Team
/           .user-list
/             - 4.times do
/               .user-item
/                 .logo
/                   = image_tag 'no_avatar.png'
/                 .user-info
/                   .title
/                     User
/                   .description
/                     Description



/       .grid-item.full-height.half-width
/         .table-container
/           .table-title
/             Forms
/             %button.plus-btn{'data-modal-id': 'forms_modal'}
/               +
/           %table.table
/             %thead
/               %tr
/                 %th
/             %tbody
/               %tr
/                 %td
/                   Event planning form 2016
/               %tr
/                 %td
/                   Licensed Cash Bar
/               %tr
/                 %td
/                   Third Party Vendor.full-height

/   .grid-item.w-1_3.full-height
/     .table-container.left-border
/       .table-title
/         Budget
/         %button.plus-btn{'data-modal-id': 'budget_modal'}
/           +
/       %table.table
/         %thead
/           %tr
/             %th
/             %th
/         %tbody
/           %tr
/             %td
/               Boat Cruise
/             %td
/               $1,000.00
/           %tr
/             %td
/               Semi-Formal
/             %td
/               $1,000.00
/           %tr
/             %td
/               Formal
/             %td
/               $1,000.00

/           - 18.times do
/             %tr
/               %td
/               %td
/         %tfoot
/           %tr
/             %td
/               Total Spent
/             %td
/               $3,000.00
/           %tr.green
/             %td
/               Remaining in Budget
/             %td
/               $4,500.73


/ .modal-container#tasks_modal
/   .modal-window
/     Task

/ .modal-container#forms_modal
/   .modal-window
/     Forms

/ .modal-container#budget_modal
/   .modal-window
/     Budget