.container.white
  .profile-wrapper.with-link

    = link_to ' BACK to Teams', teams_path, class: 'back-link'

    .profile-container

      .profile-avatar-box
        .profile-avatar
          = image_tag @team.image.url, class: ''
          - if current_user.can_edit? Organization
            %button.change-avatar
              %input{type: :file, style: 'display: none', 'data-url': update_organization_image_team_path(@team)}

      .profile-info-box
        %h3.full-name
          = @team.name

        %table.profile-info
          %tbody
            %tr
              - unless @team.type == 'Sorority'
                %th
                  Belongs To:
                %td
                  = link_to @team.organizable.name, team_path(@team.organizable)
            %tr
              %th
                Type:
              %td
                = @team.type

    - if @team.type == 'Sorority'
      .table-container
        .table-title
          Chapters
        %table.table
          %thead
            %tr
              %th
                Name
              %th
              %th
          %tbody
            - @team.chapters.each do |c|
              %tr
                %td
                  = c.name
                %td
                  = link_to 'View Chapter', team_path(c)
                - if current_user.can_delete? Organization
                  %td
                    = button_to 'Delete', {controller: :teams, action: 'destroy', id: c.id }, method: :delete

    - if @team.type == 'Chapter'
      .table-container
        .table-title
          Committees
        %table.table
          %thead
            %tr
              %th
                Name
              %th
              %th
          %tbody
            - @team.committees.each do |c|
              %tr
                %td
                  = c.name
                %td
                  = link_to 'View Committee', team_path(c)
                - if current_user.can_delete? Organization
                  %td
                    = button_to 'Delete', {controller: :teams, action: 'destroy', id: c.id }, method: :delete

    .table-container
      .table-title
        Members
      %table.table
        %thead
          %tr
            %th
              Role
            %th
              Name
            %th
              Phone Number
            %th
              Email
            %th

        %tbody
          - @team.organization_user_roles.each do |our|
            %tr
              %td
                = our.role.title
              %td
                = our.user.full_name
              %td
                = our.user.cellphone
              %td
                = our.user.email
              %td
                = link_to 'Show profile', user_path(our.user)

    - if current_user.can_create? OrganizationUserRole
      %hr
        .row
          %h4
            %p Add Member

      = form_for @organization_user_role, url: team_organization_user_roles_path(@team) do |f|
        .row
          = f.label :user_id
          = f.collection_select :user_id, current_user.directory, :id, :full_name
        .row
          = f.label :role_id
          = f.collection_select :role_id, Role.all, :id, :title
        .row
          = f.submit

%br
