.row
  %h3
    %p #{current_user.full_name}'s #{@form.name} Form Submissions

%table.table.table-hover.table-condensed
  %tr
    %th
      Submission
    %th
      Date
  - @form_submissions.each do |submission|
    %tr
      %td
        - if submission.attachment.present?
          = link_to "Attachment", submission.attachment.url
      %td
        = submission.created_at

%hr
.row
  %h4
    %p Create Form Submission

= form_for [@form, @form_submission], multipart: true do |f|
  .row
    = f.label :attachment
    = f.file_field :attachment
  .row
    = f.submit