.menu-item.hovered-icon
  = link_to menu_item_path, class: 'item-container' do
    .item-icon
      = svg_icon(svg_name)
      - if num_count > 0
        .info-red-dot
          = num_count
    %br
    %span.text
      - if title.length > 14
        = raw title.sub(' ', '<br/>')
      - else
        = title