!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %title Rowflow
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.home
    %header.home-header
      .content
        .logo
          = svg_icon 'logo'
          -#= image_tag 'logo.png', height: 72

        .user-box
          .user-text-content
            .welcome
              = current_user.full_name
            .info
              You have 5 unread items
          .user-avatar
            = link_to my_info_users_path do
              = image_tag current_user.image.url, height: 50
            %span.info-red-dot
              5

    .home-menu-container
      .menu-row
        = home_menu_item my_flow_path, 'my_flow', 'MyFlow', 0
        = home_menu_item tasks_path, 'tasks', 'Tasks', 0
        = home_menu_item calendar_index_path, 'calendar', 'Calendar', 0
        = home_menu_item users_path, 'directory', 'Directory', 0
        = home_menu_item channels_path, 'channels', 'Channels', 0
      .menu-row
        = home_menu_item '#', 'member_engagement', 'Member Engagement', 0
        = home_menu_item '#', 'chapter_performance', 'Chapter Performance', 0
        = home_menu_item organization_links_path, 'my_links', 'My Links', 0
        = home_menu_item budgets_path, 'expenses', 'Expenses', 0
        = home_menu_item dues_path, 'dues', 'Dues', 0
      .menu-row
        = home_menu_item '#', 'organizational_chart', 'Organizational Chart', 0
        = home_menu_item forms_path, 'forms', 'Forms', 0
        = home_menu_item meeting_notes_path, 'minutes', 'Minutes', 0
        = home_menu_item root_path, 'house_corporation', 'House Corporation', 0
        = home_menu_item points_transactions_path, 'points', 'Points', 0
      .menu-row
        = home_menu_item my_info_users_path, 'my_info', 'My Info', 0
        = home_menu_item birthdays_path, 'birthday', 'Birthday', 0
        = home_menu_item user_grades_path, 'scholarship', 'Scholarship', 0
        = home_menu_item teams_path, 'teams', 'Teams', 0
        = home_menu_item direct_messages_path, 'message', 'Message', current_user.unread_messages_count
        -#.menu-item
        -#  %span{style: 'display: block; width: 84px; content: "";'}


    = render_svg_sprite