.container.white.full-height

  .grid-item.w-1_4
    %br
  .grid-item.w-2_4.full-height
    .table-container
      .table-title
        #{current_user.first_name}'s Messages
        %button.plus-btn{'data-modal-id': 'direct_message_modal'}
          +
      %table.table
        %tbody
          - @direct_messages.each do |dm|
            %tr
              %td.hash #
              %td
                = dm.display_users_except current_user
              %td
                - if dm.user_has_unread_messages? current_user
                  .info-red-dot *
              %td.link
                = link_to '>', direct_message_path(dm)

= render partial: 'application/modal/direct_message_modal'
