.container.white
  .profile-wrapper.with-link

    = link_to ' BACK to Messages', direct_messages_path, class: 'back-link'


  .grid-item.w-1_4
    %br
  .grid-item.w-2_4.full-height
    .table-container
      .table-title Messages with #{@direct_message.display_users_except current_user}
      .messages-container
        - @direct_message.messages.each do |message|

          .message
            .sender
              .avatar
                = image_tag message.from_user.image.url
              .full-name
                = message.from_user.full_name
            .date-time
              .date
                = message.created_at.strftime('%_m/%_d/%y')
              .time
                = message.created_at.strftime('%H:%M')

            .content
              .text
                = message.message

      .message-send-form
        = form_for [@direct_message, @direct_message.messages.build] do |f|
          = f.text_area :message, cols: 30, rows: 5
          = f.submit 'Send'
