.container.white.full-height
  .grid-item.w-1_4.full-height
    %br
  .grid-item.w-2_4.full-height
    .table-container
      .table-title
        #{current_user.first_name}'s Minutes
      %table.table
        %thead
          %tr
            %th Organization
            %th Name
            %th Date
            %th &nbsp;
        %tbody
          - @meeting_notes.each do |meeting_note|
            %tr
              %td
                = meeting_note.organization.name
              %td.text-center
                = meeting_note.name
              %td.text-center
                = display_date meeting_note.occurred_at
              %td.link
                = link_to ">", meeting_note_path(id: meeting_note.id)
