.container.white.full-height
  .profile-wrapper.with-link

    = link_to ' BACK to Minutes', meeting_notes_path, class: 'back-link'

    .row
      %h3
        %p= "#{@meeting_note.name} - #{display_date @meeting_note.occurred_at}"
    .row
      %p= @meeting_note.notes