.messages-container {
  display: block;
  position: relative;
  margin: 0 0 10px 0;
  padding: 0;

  .message {
    //border: 1px solid #B2B2B2;
    margin: 0 0 10px 0;

    &:after {
      display: block;
      content: '';
      clear: both;
    }

    &:last-child {
      margin: 0;
    }

    .sender {
      display: block;
      float: left;
      width: 60px;

      .avatar {
        display: block;

        img {
          width: 60px;
          border-radius: 50%;
          border: 2px solid #3bb778;
        }

      }

      .full-name {
        display: block;
        text-align: center;

      }
    }

    .date-time {
      display: block;
      float: right;
      width: 60px;
    }

    .content {
      padding: 0 10px 0 10px;
      margin: 0 60px 0 60px;

      .text {
        border: 1px solid #B2B2B2;
        border-radius: 5px;
        margin: 0;
        padding: 10px;
      }

    }

  }
}