@import "variables";

.form-items {

  text-align: center;

  &:after {
    display: block;
    content: '';
    clear: both;
  }

  .form-item {
    display: inline-block;
    margin-bottom: 5px;
    text-align: center;
    line-height: 0;
    width: 130px;

    svg.icon {
      height: 100px;
      width: 100px;
    }

    .title {
      display: inline-block;
      line-height: 9px;
      font-size: 9px;
      font-weight: 500;
      color: $site-base-font-color;
      text-align: center;
    }

  }

}