@media  only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
  /* Style Rules */
}

$home-header-height: 75px;
$home-bg-color: #cbf2f7;
$home-menu-padding: 80px;
$home-menu-icon-size: 80px;

.home-header {
  height: $home-header-height;
  background-color: #ffffff;

  .content {
    margin: 0 30px;
    &:after {
      display: block;
      content: '';
      clear: both;
    }

    .logo {
      display: block;
      float: left;

      svg.icon {
        height: 72px;
        width: 250px;
      }
    }

    .user-box {
      display: block;
      float: right;
      margin-top: 10px;

      .user-text-content {
        float: left;
        min-width: 100px;
        margin-right: 10px;
        text-align: right;

        .welcome {
          font-size: 30px;
          color: #4d4d4f;
        }

        .info {
          font-size: 13px;
          color: #4d4d4f;
        }
      }

      .user-avatar {
        position: relative;
        float: left;
        border: 2px solid #3bb778;
        border-radius: 50%;
        height: 50px;
        width: 50px;

        img {
          border-radius: 50%;
          overflow: hidden;
        }


        .info-red-dot {
          position: absolute;
          right: -2px;
          bottom: -2px;
        }
      }
    }
  }
}


.home-menu-container {
  display: block;
  margin: 0;
  background-color: $home-bg-color;
  padding-top: $home-menu-padding;
  height: calc(100% - #{$home-header-height + $home-menu-padding});

  .menu-row {
    height: calc(25% - #{$home-menu-padding / 4});
    padding: 0;
    text-align: center;
    vertical-align: top;
    min-width: 640px;

    &:before {
      display: block;
      content: '';
      clear: both;
    }

    .menu-item {
      display: inline-block;
      height: 100%;
      margin: 0 6% 0 0;
      vertical-align: top;

      &:last-child {
        margin-right: 0;
      }

      a.item-container {
        display: inline-block;
        text-decoration: none;
        line-height: 12px;

        .item-icon {
          position: relative;
          display: inline-block;

          svg.icon {
            width: $home-menu-icon-size;
            height: $home-menu-icon-size;
          }

          .info-red-dot {
            position: absolute;
            top: 10px;
            right: 10px;
          }
        }
      }

      .text {
        text-align: center;
        font-size: 13px;
        line-height: 13px;
      }
    }

  }


}
