.profile-wrapper {
  display: block;
  margin: 0 150px 0 150px;
  padding: 80px 0 0 0;

  &.with-link {
    padding: 10px 0 0 0;

    .profile-container {
      margin: 30px 0 0 0;
    }

    a.back-link {

      font-size: 16px;
      text-decoration: none;
      vertical-align: middle;


      &:before {
        display: inline-block;
        content: '〉';
        transform: rotate(180deg);
        font-size: 32px;
        font-weight: 400;
        line-height: 32px;
        padding-bottom: 6px;
      }

    }
  }
}

.profile-container {
  margin: 0;

  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

.profile-avatar-box {
  position: relative;
  display: block;
  float: left;
  width: 40%;
  text-align: center;

  .profile-avatar {
    display: inline-block;
    width: 70%;
    max-width: 400px;

    img {
      display: block;
      width: 100%;
      margin: 0;
      padding: 0;
      border-radius: 50%;
      border: 4px solid #00bdd9;
    }

    button.change-avatar {
      display: inline-block;
      position: absolute;
      bottom: 1%;
      right: calc(28% - 30px);
      background-color: transparent;

      height: 60px;
      width: 60px;
      border: none;
      border-radius: 50%;
      cursor: pointer;

      svg.icon {
        height: 50px;
        width: 50px;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .pie-chart {
    margin: 130px 0 0 0;

    svg {
      display: block;
      margin: 0 auto;
      height: 150px;
      width: 150px;
    }
  }

  .title {
    margin: 16px 0 0 0;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }
}

.profile-info-box {
  display: block;
  width: 60%;
  margin: 0 0 0 40%;

  .full-name {
    padding: 50px 0 0 0;
    margin: 0;
    font-size: 40px;
    font-weight: 700;
  }

  .role {
    margin: 0 0 30px 0;
  }

  table.profile-info {
    border-collapse: collapse;
    border: none;
    width: 100%;

    tr {
      border-bottom: 1px solid #8c8c8c;

      &:last-child {
        border-bottom: none;
      }

      th, td {
        padding: 10px;
        font-size: 14px;
      }

      th {
        border-right: 1px solid #8c8c8c;
        text-align: right;
        font-weight: 700;
        width: 200px;
      }

      td {
        font-weight: 400;
        text-align: left;
        font-size: 14px;

        &.editable-data {
          position: relative;

          input.editable {
            display: inline-block;
            width: 100%;
            padding: 0;
            margin: 0;
            border: none;
            font-weight: 400;
            font-size: 14px;
            color: #2E2F30;

            &:focus {
              outline: none;
              border: none;
            }
          }

          &:after {
            display: none;
            position: absolute;
            content: 'Click to edit data';
            top: 4px;
            left: -144px;
            background-color: #000000;
            color: #ffffff;
            font-size: 16px;
            padding: 5px;
          }

          &:hover {
            &:after {
              display: block;
            }
          }
        }


      }
    }
  }
}