@import "variables";

.user-list {

  .user-item {
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #2E2F30;

    .logo {
      display: block;
      float: left;
      border: 2px solid #0BBEDA;
      border-radius: 50%;
      overflow: hidden;
      height: 60px;
      width: 60px;

      img {
        height: 60px;
        width: 60px;
      }
    }

    .user-info {
      margin: 0 0 0 70px;

      .title {
        font-weight: 500;
        font-size: 18px;
        color: $site-base-font-color;
      }

      .description {
        font-size: 12px;
        color: $site-base-font-color;
      }
    }


    &:after {
      display: block;
      content: '';
      clear: both;
    }

  }
}
