.page-container
  .event-panel
    -#.panel-btn
      = svg_icon 'calendar_sidebar_icon'
      = svg_icon 'calendar_sidebar_events'
      = svg_icon 'calendar_sidebar_notification'

    .panel-title
      Upcoming Events

    - @upcoming_events.each do |month, events|
      .event-container
        .event-date-title
          = month

        .events
          - events.each do |e|
            %a{href: calendar_path(e)}
              .event.link
                .date-time
                  .date
                    = e.date # Date (Monday June 7, 2017)
                  .time
                    = e.time # Time (8 PM)
                .event-content
                  .event-title
                    = e.name
                  .event-location
                    = e.venue_name
                    %br
                    = e.venue_address
                    %br
                    = e.venue_city_state_zip

  .calendar-container
    #fullcalendar.calendar{'data-url': events_calendar_index_path}


= render partial: 'application/modal/event_modal'

.modal-container#edit_event_modal
  .modal-window
    .modal-header
      Event:
      %span{'data-modal': 'title'}
      %button.btn-close
        ✕
    .modal-body
      %h3{'data-modal': 'date'}

