.container.white
  .profile-wrapper.with-link

    = link_to ' BACK to Calendar', calendar_index_path, class: 'back-link'

    .profile-container

      .profile-info-box
        %h3.full-name
          = @event.name

        %table.profile-info
          %tbody
            - unless @event.rsvp? current_user
              %tr
                %th
                  = button_to 'RSVP', {controller: :calendar, action: 'rsvp', id: @event.id }
            %tr
              %th
                Date:
              %td
                = @event.date
            %tr
              %th
                Time:
              %td
                = @event.time
            %tr
              %th
                Location:
              %td
                = @event.venue_name
                %br
                = @event.venue_address
                %br
                = @event.venue_city_state_zip
            %tr
              %th
                Required Points:
              %td
                = @event.required_points
            %tr
              %th
                Achievable Points:
              %td
                = @event.achievable_points
            %tr
              %th
                Attachment:
              %td
                = display_attachment(@event.attachment)

    - if current_user.can_view? EventInvite
      .table-container
        .table-title
          Event Invites
          - if current_user.can_create? Event
            %button.plus-btn{'data-modal-id': 'event_invite_modal'}
              +
        %table.table
          %thead
            %tr
              %th
                Name
              %th
                RSVP?
              %th
                Checked In?
              %th
          %tbody
            - @event.event_invites.each do |ei|
              %tr
                %td
                  = ei.user.full_name
                %td
                  = display_date(ei.rsvp_at)
                %td
                  = display_date(ei.checked_in_at)

- if current_user.can_create? Event
  = render partial: 'application/modal/event_invite_modal'



