.container.white.full-height
  .grid-item.half-width.full-height
    .table-container.right-border
      .table-title
        Tasks
      %table.table
        %thead
          %tr
            -#%th
              Action!
            %th
              Due
            %th
              Item
            %th
              Owner
            %th
            %th
        %tbody
          - @tasks.each do |task|
            %tr
              -#%td.icon
                0
              %td.text-center
                = task.due_at.strftime('%_m/%_d/%y')
              %td
                = task.notes
              %td.text-center
                = task.owner_full_name
              %td
                = display_attachment(task.attachment)
              %td
                - if task.completed?
                  = svg_icon 'checkbox_check'
                - else
                  %button.svg-checkbox.task{'data-url': complete_task_path(task)}
                    = svg_icon 'checkbox'

  .grid-item.half-width.full-height
    .table-container
      .table-title
        My Tasks
        %button.plus-btn{'data-modal-id': 'task_modal'}
          +
      %table.table
        %thead
          %tr
            -#%th
              Action!
            %th
              Due
            %th
              Item
            %th
              Assigned to
            %th
            %th

        %tbody
          - @my_tasks.each do |task|
            %tr
              -#%td.icon
                0
              %td.text-center
                = task.due_at.strftime('%_m/%_d/%y')
              %td
                = task.notes
              %td.text-center
                = task.assigned_to_full_name
              %td
                - if task.attachment.exists?
                  = link_to task.attachment.url, target: :blank do
                    = svg_icon 'form_green'
                - else
                  = svg_icon 'form_grey'
              %td
                - if task.completed?
                  = svg_icon 'checkbox_disable'
                - else
                  = svg_icon 'checkbox'


= render partial: 'application/modal/task_modal'

%div{style: 'display: none'}
  = svg_icon 'checkbox'
  = svg_icon 'checkbox_check'
  = svg_icon 'checkbox_disable'

