.container.white
  .grid-item.w-1_4
    %br
  .grid-item.w-2_4.full-height
    .table-container
      .table-title
        #{current_user.full_name}'s Points
        %button.plus-btn{'data-modal-id': 'points_transaction_modal'}
          +
      %table.table
        %thead
          %tr
            %th Created
            %th Description
            %th &nbsp;
            %th Amount
        %tbody
          - @points.each do |point|
            %tr
              %td.text-center
                = display_date(point.created_at)
              %td
                = point.notes
              %td.text-center
                = display_attachment(point.attachment)
              %td.text-center
                = point.amount
        %tfoot
          %tr.green
            %td
              %strong Total
            %td
            %td
            %td.text-center
              %strong= current_user.points

= render partial: 'application/modal/points_transaction_modal'
