.login-box
  .logo-title
    .logo
      = svg_icon 'logo'
  .login-form
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .fields
        .field
          = svg_icon 'login_user'
          = f.email_field :email, autofocus: true, placeholder: 'Email'
        .field
          = svg_icon 'login_password'
          = f.password_field :password, autocomplete: 'off', placeholder: 'Password'

      = f.submit 'Log in'
      .forgot-password-link
        = link_to 'Forgot your password?', new_password_path(resource_name)
      .terms-conditions
        By logging in, you agree to the terms and conditions.