.container.white.full-height
  .grid-item.w-1_4.full-height
    %br
  .grid-item.w-2_4.full-height
    .table-container
      .table-title
        #{current_user.full_name}'s Budgets
      %table.table
        %thead
          %tr
            %th
              Type
            %th
              Type's Name
            %th
              Budget Name
            %th &nbsp;
        %tbody
          - @budgets.each do |budget|
            %tr
              %td
                = budget.budgetable_type
              %td
                = budget.budgetable.name
              %td
                = budget.name
              %td.link
                = link_to '>', budget_path(budget)

/     .table-title
/       Chapter Budget
/     %table.table

/       %tbody
/         %tr
/           %td
/             Oﬃcer Budgets:
/         %tr
/           %td
/             Chapter President
/         %tr
/           %td
/             Executive Vice President
/         %tr
/           %td
/             Membership Education Vice President
/         %tr
/           %td
/             Finance Vice President
/         %tr
/           %td
/             Recruitment & Marketing Vice President
/         %tr
/           %td
/             New Member Coordinator
/         %tr
/           %td
/             Formal Recruitment Chair
/         %tr
/           %td
/             Director of Standards and Ethics

/         %tr
/           %td
/             Director of Social Enrichment

/         %tr
/           %td
/             Philanthropy Chair
/         %tr
/           %td
/             Guard
/         %tr
/           %td
/             Panhellenic Delegate
/         %tr
/           %td
/             Scholarship Chair
/         %tr
/           %td
/             Alumnae Relations Chair
/         %tr
/           %td
/             Public Relations Chair
/         %tr
/           %td
/             Director of Standards and Ethics
/         %tr
/           %td
/             Director of Social Enrichment
/         %tr
/           %td
/             Philanthropy Chair
/         %tr
/           %td
/             Guard
/         %tr
/           %td
/             Executive Vice President
/         %tr
/           %td
/             Membership Education Vice President
/         %tr
/           %td
/             Finance Vice President
/         %tr
/           %td
/             Recruitment & Marketing Vice President
/         %tr
/           %td
/             New Member Coordinator
/         %tr
/           %td
/             Formal Recruitment Chair
/         %tr
/           %td
/             Director of Standards and Ethics

/         %tr
/           %td
/             Director of Social Enrichment

/         %tr
/           %td
/             Philanthropy Chair
/         %tr
/           %td
/             Guard
/         %tr
/           %td
/             Panhellenic Delegate
/         %tr
/           %td
/             Scholarship Chair
/         %tr
/           %td
/             Alumnae Relations Chair
/         %tr
/           %td
/             Public R
/         %tr
/           %td
/             Panhellenic Delegate
/         %tr
/           %td
/             Scholarship Chair
/         %tr
/           %td
/             Alumnae Relations Chair
/         %tr
/           %td
/             Public Relations Chair


/ .grid-item.w-2_4.full-height
/   .table-container.left-border
/     .table-title
/       Director of Social Enrichment Budget
/       %button.plus-btn{'data-modal-id': 'dse_budget_modal'}
/         +
/     %table.table
/       %thead
/         %tr
/           %th
/           %th
/       %tbody
/         %tr
/           %td Boat Cruise
/           %td $2,000.00
/         %tr
/           %td Semi-Formal
/           %td $1,000.00
/         %tr
/           %td Formal
/           %td $1,000.00
/         - 15.times do
/           %tr
/             %td
/             %td


/   .grid-item.w-1_4.full-height
/     .table-container.left-border
/       .table-title
/         Pending Reciepts
/         %button.plus-btn{'data-modal-id': 'pending_modal'}
/           +
/       %table.table
/         %thead
/           %tr
/             %th
/             %th
/         %tbody
/           %tr
/             %td Mallard Ball (2016)
/             %td >
/           %tr
/             %td Mixer (8/23/16)
/             %td >
/           %tr
/             %td Formal (2016)
/             %td >
/           - 15.times do
/             %tr
/               %td
/               %td


/ .modal-container#dse_budget_modal
/   .modal-window
/     Director of Social Enrichment Budget

/ .modal-container#pending_modal
/   .modal-window
/     Pending Reciepts

