.container.white
  .profile-wrapper.with-link

    = link_to ' BACK to Budgets', budgets_path, class: 'back-link'

    .table-container
      .table-title
        - if @user_can_view_transactions
          = "#{@budget.name} - Total: #{number_to_currency(@budget.total)}"
        - else
          #{current_user.full_name}'s Expenses
        %button.plus-btn{'data-modal-id': 'budget_transaction_modal'}
          +
      %table.table
        %thead
          %tr
            %th Created
            %th Created By
            %th Description
            %th &nbsp;
            %th Amount
        %tbody
          - @expenses.each do |expense|
            %tr
              %td.text-center
                = display_date(expense.created_at)
              %td
                = expense.created_by_user.full_name
              %td
                = expense.notes
              %td
                = display_attachment(expense.attachment)
              %td.text-center
                = number_to_currency(expense.amount)

        - if @user_can_view_transactions
          %tfoot
            %tr
              %td
                %strong Total Spent
              %td
              %td
              %td
              %td.text-center
                %strong= number_to_currency(@budget.total_spent)
            %tr.green
              %td
                %strong Remaining in Budget
              %td
              %td
              %td
              %td.text-center
                %strong= number_to_currency(@budget.remaining)

= render partial: 'application/modal/budget_transaction_modal'

