.container.white.full-height

  .grid-item.w-1_4
    %br
  .grid-item.w-2_4.full-height
    .table-container
      .table-title
        #{current_user.full_name}'s Directory
      %table.table
        %thead
          %tr
            %th
              Name
            %th
              Phone Number
            %th
              Email
            %th

        %tbody
          - @users.each do |user|
            %tr
              %td
                = user.full_name
              %td.text-center
                = user.cellphone
              %td.text-center
                = user.email
              %td.link
                = link_to '>', user_path(user)
