.container.white.full-height
  .grid-item.w-2_3.full-height
    .grid-item.half-height.full-width
      .table-container.inside-bottom-border
        .table-title
          Tasks
          %button.plus-btn{'data-modal-id': 'task_modal'}
            +
        %table.table
          %thead
            %tr
              %th
                Due
              %th
                Item
              %th
                Owner
              %th
              %th
          %tbody
            - @tasks.each do |task|
              %tr
                %td.text-center
                  = task.due_at.strftime('%_m/%_d/%y')
                %td
                  = task.notes
                %td.text-center
                  = task.owner_full_name
                %td
                  - if task.attachment.exists?
                    = link_to task.attachment.url, target: :blank do
                      = svg_icon 'form_green'
                  - else
                    = svg_icon 'form_grey'
                %td
                  - if task.completed?
                    = svg_icon 'checkbox_check'
                  - else
                    %button.svg-checkbox.task{'data-url': complete_task_path(task)}
                      = svg_icon 'checkbox'


    .half-height-content
    .grid-item.half-height.full-width

      .grid-item.full-height.half-width.right-border

        .table-container.right-border
          .table-title
            Event History
            %button.plus-btn{'data-modal-id': 'event_modal'}
              +
          %table.table
            %thead
              %tr
                %th
                %th.small
            %tbody
              %tr
                %td
                  Formal 2016
                %td
                  >
              %tr
                %td
                  Formal 2016
                %td
                  >
              %tr
                %td
                  Formal 2016
                %td
                  >

      .grid-item.full-height.half-width
        .table-container
          .table-title
            Forms
            %button.plus-btn{'data-modal-id': 'forms_modal'}
              +
          %table.table
            %thead
              %tr
                %th
            %tbody
              %tr
                %td
                  Event planning form 2016
              %tr
                %td
                  Licensed Cash Bar
              %tr
                %td
                  Third Party Vendor.full-height

  .grid-item.w-1_3.full-height
    .table-container.left-border
      .table-title
        Approvals
      %table.table
        %thead
          %tr
            %th
            %th
        %tbody
          - current_user.approvals.each do |approval|
            %tr
              %td
                - if not approval.approved_at
                  = button_to 'Approve', approve_approval_path(approval)
                - else
                  = approval.approved_at
              %td
                - if approval.approvable.is_a? Task
                  = "Completed Task for #{approval.approvable.assigned_to_user.full_name}: #{approval.approvable.notes}"



  / .grid-item.w-1_3.full-height
  /   .table-container.left-border
  /     .table-title
  /       Budget
  /       %button.plus-btn{'data-modal-id': 'budget_modal'}
  /         +
  /     %table.table
  /       %thead
  /         %tr
  /           %th
  /           %th
  /       %tbody
  /         %tr
  /           %td
  /             Boat Cruise
  /           %td
  /             $1,000.00
  /         %tr
  /           %td
  /             Semi-Formal
  /           %td
  /             $1,000.00
  /         %tr
  /           %td
  /             Formal
  /           %td
  /             $1,000.00

  /         - 18.times do
  /           %tr
  /             %td
  /             %td
  /       %tfoot
  /         %tr
  /           %td
  /             Total Spent
  /           %td
  /             $3,000.00
  /         %tr.green
  /           %td
  /             Remaining in Budget
  /           %td
  /             $4,500.73

= render partial: 'application/modal/task_modal'
= render partial: 'application/modal/event_modal'
= render partial: 'application/modal/forms_modal'
= render partial: 'application/modal/budget_modal'