.container.white
  .profile-wrapper
    .profile-container

      .profile-avatar-box
        .profile-avatar
          = image_tag current_user.image.url, class: ''
          %button.change-avatar
            = svg_icon 'camera'
            %input{type: :file, style: 'display: none', 'data-url': update_my_avatar_users_path}



      .profile-info-box
        %h3.full-name
          = current_user.full_name
        .role
          President [static]

        %table.profile-info
          %tbody
            %tr
              %th
                Hometown:
              %td.editable-data{'data-name': 'hometown', 'data-type': :text}
                = current_user.hometown
            %tr
              %th
                Email:
              %td
                = current_user.email
            %tr
              %th
                First Name:
              %td.editable-data{'data-name': 'first_name', 'data-type': :text}
                = current_user.first_name
            %tr
              %th
                Last Name:
              %td.editable-data{'data-name': 'last_name', 'data-type': :text}
                = current_user.last_name
            %tr
              %th
                Cellphone:
              %td.editable-data{'data-name': 'cellphone', 'data-type': :text}
                = current_user.cellphone
            %tr
              %th
                Birthday:
              %td.editable-data{'data-name': 'date_of_birth', 'data-type': :text}
                = current_user.date_of_birth.strftime('%B %e, %Y')
            %tr
              %th
                Major:
              %td.editable-data{'data-name': 'major', 'data-type': :text}
                = current_user.major
            -#%tr
            -#  %th
            -#    Year in School:
            -#  %td
            -#    Senior [static]
            -#%tr
            -#  %th Previous Semester GPA:
            -#  %td 3.47 [static]
            -#%tr
            -#  %th Cumalative GPA:
            -#  %td 3.39 [static]
            -#%tr
            -#  %th Total # Points This Semester:
            -#  %td 285 [static]
            -#%tr
            -#  %th Class Schedule for Semester:
            -#  %td Click Here [static]
            -#%tr
            -#  %th ICE:
            -#  %td Julie Sparks (Mother) 803.292.4585 [static]
            -#%tr
            -#  %th Current Volunteer or Internship Roles:
            -#  %td Charleston Riverdogs Intern MUSC Children’s Hospital Volunteer Charleston 40 Best Buddies SAA [static]
