.container.white
  .profile-wrapper.with-link

    = link_to ' BACK to directory', users_path, class: 'back-link'

    .profile-container

      .profile-avatar-box
        .profile-avatar
          = image_tag @user.image.url

        .profile-chart
          .chart
            = render partial: 'application/pie_chart', locals: {percentage: @user.membership_engagement_score}

          .title
            Membership
            %br
            Engagement Score

      .profile-info-box
        %h3.full-name
          = @user.full_name
        .role
          President [static]

        %table.profile-info
          %tbody
            %tr
              %th
                Hometown:
              %td
                = @user.hometown
            %tr
              %th
                Email:
              %td
                = @user.email
            %tr
              %th
                Birthday:
              %td
                = @user.date_of_birth.strftime('%B %e, %Y')
            %tr
              %th
                Major:
              %td
                = @user.major
            %tr
              %th
                Year in School:
              %td
                Senior [static]
            %tr
              %th Previous Semester GPA:
              %td  3.47 [static]
            %tr
              %th Cumalative GPA:
              %td  3.39 [static]
            %tr
              %th Total # Points This Semester:
              %td   285 [static]
            %tr
              %th Class Schedule for Semester:
              %td   Click Here [static]
            %tr
              %th ICE:
              %td  Julie Sparks (Mother) 803.292.4585 [static]
            %tr
              %th Current Volunteer or Internship Roles:
              %td Charleston Riverdogs Intern MUSC Children’s Hospital Volunteer Charleston 40 Best Buddies SAA [static]
