.calendar {

  .fc-toolbar.fc-header-toolbar {

    height: 40px;

    .fc-left {

      button.fc-newEvent-button {
        border-radius: 50%;
        background-image: none;
        background-color: #00bdd9;
        border: none;
        cursor: pointer;
        color: #ffffff;
        font-weight: 700;
        font-size: 20px;
        height: 24px;
        width: 24px;
        line-height: 24px;
        text-align: center;
        padding: 0;
        margin: 0;

        &:focus {
          outline: none;
        }
      }

    }


    .fc-right {

      h2 {

        display: inline-block;
        min-width: 200px;

      }

      button.fc-button {
        border: none;
        background-color: #ffffff;
        background-image: none;
        box-shadow: none;

        //.fc-icon-left-single-arrow:after {
        //  content: "❬";
        //}
        //
        //.fc-icon-right-single-arrow:after {
        //  content: "❭";
        //}

        &:focus {
          outline: none;
        }
      }

    }

  }

  .fc-day-header {
    background-color: #d9dadb;
    color: #4d4d4f;
    border-color: transparent;
  }


  .fc-day, td.fc-widget-content {
    border-color: #4d4d4f;
  }

  .fc-view-container .fc-view thead.fc-head {
    border-bottom: 1px solid #4d4d4f;
  }

  .fc-day.fc-widget-content.fc-today.fc-state-highlight {
    //background-color: #b7b7b7;
  }


  .fc-event-container {

    .fc-day-grid-event.fc-h-event.fc-event {
      cursor: pointer;
    }

    a.fc-event.test {
      //border: 1px dotted #000;

      .fc-title:before {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 5px 0 0;
        content: '!';
        background-color: #f35b26;
        border-radius: 50%;
        text-align: center;
        font-weight: 700;
        color: #ffffff;
      }
    }

    .fc-content {

    }
  }







}