.header {

  display: block;
  background-color: #ffffff;

  .logo-search-box {
    width: 100%;
    height: 50px;
    overflow: hidden;

    img.logo {
      padding: 0;
      display: block;
      height: 100%;
      float: left;
      margin-left: 20px;
    }

    .search-box {
      display: block;
      height: 100%;
      float: right;
      margin-right: 20px;

      input.search {
        display: block;
        float: left;
        border: none;
        height: 25px;
        margin-top: 12px;
        background-color: rgba(242, 242, 242, 0.71);
        color: #000000;
        padding: 0 5px;
        font-family: 'Open sans', sans-serif;
        font-weight: 400;
        font-size: 16px;

        &::placeholder {
          color: #c7c8ca;
        }
      }
      a.menu-icon-link {
        float: left;
      }
    }
  }

}