
$user-box-width: 250px;

.header .user-menu-box {
  position: relative;
  display: block;
  height: 60px;
  background-color: #ffffff;
  border-bottom: 2px solid #00bdd9;
  padding: 0 20px;

  &.opened {
    height: auto;

    .menu-container .menu {
      overflow: visible;

      .menu-item {
        margin-bottom: 0;
      }
    }
  }

  .user-box {
    display: block;
    float: right;
    width: $user-box-width;
    height: 100%;

    .user-text-content {
      display: block;
      margin: 0 60px 0 0;
      text-align: right;
      height: 100%;

      .user-name {
        display: block;
        font-size: 25px;
        color: #4d4d4f;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .logout-link {
        font-size: 13px;
        color: #4d4d4f;
        text-decoration: none;
      }
    }

    .user-avatar {
      position: relative;
      float: right;
      border: 2px solid #3bb778;
      border-radius: 50%;
      height: 50px;
      width: 50px;

      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }


      .info-red-dot {
        position: absolute;
        right: -2px;
        bottom: -2px;
      }
    }
  }

  .menu-container {
    margin: 0 #{$user-box-width + 30px} 0 0;
    height: 100%;

    &:after {
      content: '';
      display: block;
      clear: both;
    }

    .menu-show-more {
      float: right;
      width: 30px;
      height: 30px;
      cursor: pointer;
      border-radius: 50%;
      background-color: #f35b26;
      margin-top: 12px;
      color: #ffffff;
      font-size: 24px;
      line-height: 18px;
      font-weight: 600;
      text-align: center;
    }

    .menu {

      text-align: left;
      margin-right: 30px;
      height: calc(100% + 12px);
      overflow: hidden;

      &:after {
        display: block;
        content: '';
        clear: both;
      }

      .menu-item {
        position: relative;
        z-index: 1;
        display: block;
        float: left;
        margin-bottom: 6px;
        text-align: center;
        //border: 2px solid transparent;
        //border-bottom: none;
        //border-radius: 2px 2px 0 0;
        height: 58px;
        //width: 76px;
        //overflow: hidden;

        &.active {
          border: 2px solid #00bdd9;
          border-bottom: none;
          overflow: visible;

          a.link {
            background-color: #ebfafc;

            .text {
              display: block;
            }
          }
        }

        a.link {
          display: block;
          padding: 5px 8px 0 8px;
          z-index: 10;
          //background-color: #ffffff;
          text-decoration: none;

          .menu-icon {
            position: relative;

            svg.icon {
              height: 40px;
              width: 40px;
            }

            .info-red-dot {
              position: absolute;
              top: 0;
              right: -2px;
            }

          }


          .text {
            display: none;
            font-size: 11px;
            font-family: 'Open sans', sans-serif;
            font-weight: 300;
            color: #4d4d4f;
            text-align: center;
          }


        }
      }


    }



  }
}