$modal-shadow-color: rgba(255, 255, 255, 0.8);
$modal-header-color: #b2b2b2;

.modal-container {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: $modal-shadow-color;

  .modal-window {
    position: relative;
    background-color: #ffffff;
    height: 400px;
    width: 600px;
    top: 50%;
    margin: -200px auto 0 auto;
    border: 1px solid #b2b2b2;

    border-radius: 3px 3px 5px 5px;


    .modal-header {
      display: block;
      background-color: $modal-header-color;
      padding: 5px;
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
      text-transform: uppercase;


      .btn-close {
        display: inline-block;
        float: right;
        margin: 0;
        border: none;
        background-color: #b2b2b2;
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        height: 22px;
        width: 22px;
        cursor: pointer;
        color: #000000;

        &:hover {
          //background-color: #b2b2b2;
          //color: #000000;
        }

        &:focus {
          outline: none;
        }
      }

    }

    .modal-body {
      margin: 0;
      padding: 5px;
    }

  }

}