.page-container {

  .event-panel {
    display: block;
    width: 400px;
    float: left;
    padding-top: 40px;
    margin: 0 0 0 10px;

    .panel-title {
      text-align: left;
      color: #4d4d4f;
      padding: 5px;
    }

    .event-container {
      display: block;
      margin-bottom: 20px;


      .event-date-title {
        display: block;
        padding: 4px 0 4px 10px;
        background-color: #999999;
        color: #ffffff;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;

      }

      .events {

        &:last-child .event {
          border-bottom: none;
        }

        .event {
          display: block;
          margin: 0 0 0 10px;
          padding: 5px;
          border-bottom: 1px solid #999999;

          &:after {
            display: block;
            content: '';
            clear: both;
          }


          .date-time {
            display: block;
            float: left;
            width: 80px;

            border-right: 2px solid #4d4d4f;

            text-align: right;
            color: #4d4d4f;

            .date {
              margin: 0 10px 0 0;
              font-size: 16px;
            }
            .time {
              margin: 0 10px 0 0;
              font-size: 16px;
            }
          }

          .event-content {
            display: block;
            margin: 0 0 0 100px;
            color: #4d4d4f;


            .event-title {
              font-size: 20px;
              font-weight: 500;
            }

            .event-location {
              font-size: 12px;
            }

          }
        }



      }

    }


  }

  .calendar-container {
    display: block;
    margin: 0 0 0 420px;
    background-color: #ffffff;
    padding: 20px 40px 20px 40px;

    .calendar {
      display: block;
      position: relative;
    }

  }
}