.pie-chart {
  svg {
    transform: rotate(-90deg);
    background: #00bdd9;
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }

  circle.progress {
    fill: #00bdd9;
    stroke: #bbbdbf;
    stroke-width: 30px;
    stroke-dasharray: 316px;
  }

  circle.text {
    fill: #3bb878;
    stroke: #ffffff;
    stroke-width: 2px;
  }

  text {
    transform: rotate(90deg);
    text-anchor: middle;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Open sans', sans-serif;
    fill: #ffffff;
  }
}