.container.white
  .grid-item.w-1_4.full-height
    %br
  .grid-item.w-2_4.full-height
    .table-container
      .table-title
        #{current_user.full_name}'s Dues - Total: #{number_to_currency(current_user.total_dues)}
      %table.table
        %thead
          %tr
            %th Organization
            %th Amount
            %th Description
        %tbody
          - @dues.each do |due|
            %tr
              %td
                = due.organization.name
              %td.text-center
                = number_to_currency(due.amount)
              %td
                = due.description

    .table-container
      .table-title
        Transactions
        %button.plus-btn{'data-modal-id': 'dues_transaction_modal'}
          +
      %table.table
        %thead
          %tr
            %th Created
            %th Description
            %th &nbsp;
            %th Amount
        %tbody
          - @dues_transactions.each do |dt|
            %tr
              %td.text-center
                = display_date(dt.created_at)
              %td
                = dt.notes
              %td.text-center
                = display_attachment(dt.attachment)
              %td.text-center
                = number_to_currency(dt.amount)
        %tfoot
          %tr.green
            %td
              %strong Paid
            %td
            %td
            %td.text-center
              %strong= number_to_currency(current_user.dues_paid)
          %tr
            %td
              %strong Remaining
            %td
            %td
            %td.text-center
              %strong= number_to_currency(current_user.dues_remaining)

= render partial: 'application/modal/dues_transaction_modal'
