.plus-btn {
  float: right;
  border-radius: 50%;
  background-color: #00bdd9;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  height: 24px;
  width: 24px;
  line-height: 24px;

  &:focus {
    outline: none;
  }
}

button.svg-checkbox {

  border: none;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}