$left-menu-width: 100px;


.container {
  //margin: 20px 0 0 0;
  //padding: 10px 20px 10px 20px;


  &.white {
    background-color: #ffffff;
  }

  &.full-height {
    height: calc(100vh - 124px);
  }

  &.left-menu-margin {
    margin-left: $left-menu-width;
  }
}

.grid-item {
  position: relative;
  display: block;
  float: left;

  &.w-2_3 {
    width: 65%;
  }

  &.w-1_3 {
    width: 35%;
  }

  &.w-1_3f {
    width: 33.3%;
  }

  &.w-1_4 {
    width: 25%;
  }

  &.w-2_4 {
    width: 50%;
  }

  &.full-height {
    height: 100%;
  }

  &.half-height {
    height: 50%;
  }

  &.full-width {
    width: 100%;
  }

  &.half-width {
    width: 50%;
  }
}

.left-menu-container {
  display: block;
  float: left;
  width: $left-menu-width;
}

.page-container {
  background-color: #ffffff;
}