form {

  .form-input {
    padding: 5px 0 5px 0;
    margin-bottom: 10px;

    &:after {
      display: block;
      content: '';
      clear: both;
    }

    label {
      float: left;
      width: 35%;
      max-width: 35%;
      font-weight: 600;
      font-size: 16px;
      margin: 0;
      padding: 0;
    }

    input, textarea, select {
      display: block;
      margin: 0;
      padding: 0;
      width: 64%;

    }

    &.date-select select {
      width: auto;
      display: inline-block;
    }
  }

  .form-submit {

    &:after {
      display: block;
      content: '';
      clear: both;
    }

    button, input {
      float: right;
    }
  }

}