.info-red-dot {
  display: block;
  height: 16px;
  width: 16px;
  background-color: #ff0000;
  border-radius: 50%;
  text-align: center;
  font-size: 11px;
  font-weight: 500;
  line-height: 17px;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}