@import "variables";

.left-menu {
  display: block;
  margin: 0;

  .left-menu-item {
    display: block;
    margin-bottom: 5px;
    text-align: center;
    line-height: 0;

    svg.icon {
      height: 70px;
      width: 70px;
    }

    .title {
      display: inline-block;
      line-height: 9px;
      font-size: 9px;
      font-weight: 500;
      color: $site-base-font-color;
      text-align: center;
    }

    &.active {
      svg.icon {

        symbol[id=total_membership_education_team] {
          fill: $site-base-green;

          circle {
            fill: $site-base-green;
          }
        }

        fill: $site-base-green;
        use.active {
          fill: $site-base-green;

          circle {
            fill: $site-base-green;
          }
        }
      }
    }
  }
}

//symbol[id=total_membership_education_team] {
//  fill: $site-base-green;
//
//  circle {
//    fill: $site-base-green;
//  }
//   path {
//     stroke: $site-base-green;
//   }
//}