svg.icon {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
}

.hovered-icon {
  svg.icon {
    border: 2px solid transparent;
    border-radius: 50%;
    transition: 0.5s;
  }

  &:hover {
    svg.icon {
      border: 2px solid #0BBEDA;
      background-color: #ffffff;
      cursor: pointer;
    }
  }
}