@import "variables";

.table-container {
  padding: 10px 24px 10px 24px;
  height: calc(100% - 20px);

  &.right-border {
    border-right: 1px solid $site-border-color;
  }

  &.left-border {
    border-left: 1px solid $site-border-color;
  }

  &.inside-bottom-border {
    &:after {
      display: block;
      position: absolute;
      bottom: 10px;
      left: 24px;
      content: '';
      background-color: $site-border-color;
      height: 1px;
      width: calc(100% - 48px);
    }
  }

  .table-title {
    margin: 0 0 10px 0;
    font-size: 22px;
    font-weight: 500;

    &.small {
      font-size: 18px;
    }
  }

}


table.table {
  border: none;
  border-collapse: collapse;
  width: 100%;

  .text-center {
    text-align: center;
  }

  thead tr {
    height: 24px;
    background-color: #B2B2B2;

    th {
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
      text-transform: uppercase;
    }
  }

  tr {

    border-bottom: 1px solid #b7b7b7;
    height: 32px;

    td {
      font-size: 16px;

      &.hash {
        font-size: 32px;
        font-weight: 700;
        color: #f35b26;
      }

      &.link a {
        text-decoration: none;
      }
    }
  }

  tfoot {

    tr {
      border-bottom: 2px solid #b7b7b7;
      padding: 10px 0 0 0;

      &.green {
        background-color: $site-base-green;
      }
    }
  }

  .small {
    width: 28px;
  }
}