.modal-container#budget_transaction_modal
  .modal-window
    .modal-header
      Add Expense
      %button.btn-close
        ✕
    .modal-body
      = form_for [@budget, @budget.budget_transactions.build], multipart: true do |f|
        .form-input
          = f.label :amount
          = f.text_field :amount
        .form-input
          = f.label :notes
          = f.text_area :notes, cols: 20, rows: 10
        .form-input.date-select
          = f.label :occurred_at
          = f.datetime_select :occurred_at
        .form-input
          = f.label :attachment
          = f.file_field :attachment
        .form-submit{style: 'margin-top: 44px'}
          = f.submit "OK"
