.modal-container#channel_modal
  .modal-window
    .modal-header
      Create Channel
      %button.btn-close
        ✕
    .modal-body
      = form_for Channel.new do |f|
        .form-input
          = f.label :organization_id
          = f.collection_select :organization_id, current_user.organizations.uniq, :id, :name
        .form-input
          = f.label :name
          = f.text_field :name
        .form-submit{style: 'margin-top: 44px'}
          = f.submit