.modal-container#direct_message_modal
  .modal-window
    .modal-header
      New Direct Message
      %button.btn-close
        ✕
    .modal-body
      = form_for DirectMessage.new(message_groups_users: [MessageGroupsUser.new]) do |f|
        .form-input
          = f.fields_for :message_groups_users do |mgu|
            = mgu.label :user_id
            = mgu.collection_select :user_id, current_user.my_directory, :id, :full_name
        .form-submit{style: 'margin-top: 44px'}
          = f.submit "OK"
