.modal-container#dues_transaction_modal
  .modal-window
    .modal-header
      Pay Dues
      %button.btn-close
        ✕
    .modal-body
      = form_for current_user.dues_transactions.build, multipart: true do |f|
        .form-input
          = f.label :amount
          = f.text_field :amount
        .form-input
          = f.label :notes
          = f.text_area :notes, cols: 20, rows: 10
        .form-input
          = f.label :attachment
          = f.file_field :attachment
        .form-submit{style: 'margin-top: 44px'}
          = f.submit "OK"
