.modal-container#event_invite_modal
  .modal-window
    .modal-header
      Invite to Event!
      %button.btn-close
        ✕
    .modal-body
      = form_for EventInvite.new, url: invite_calendar_path(@event) do |f|
        .form-input
          = f.label :user_id
          = f.collection_select :user_id, current_user.my_directory, :id, :full_name
        .form-submit{style: 'margin-top: 44px'}
          = f.submit "OK"
