.modal-container#event_modal
  .modal-window
    .modal-header
      Event
      %button.btn-close
        ✕
    .modal-body
      = form_for Event.new, url: event_calendar_index_path do |f|
        .form-input
          = f.label :name
          = f.text_field :name
        .form-input
          = f.label :organization_id
          = f.collection_select :organization_id, current_user.organizations, :id, :name
        .form-input.date-select
          = f.label :occurs_at
          = f.datetime_select :occurs_at

        -#.form-input
        -#  = f.label :notes
        -#  = f.text_area :notes, cols: 20, rows: 10

        -#.form-input
        -#  = f.label :attachment
        -#  = f.file_field :attachment
        -#.form-submit{style: 'margin-top: 44px'}
        -#  = f.submit

        .form-submit{style: 'margin-top: 44px'}
          = f.submit 'OK'

      -#  :, :alcohol, :coordinator_id, :attachment