.modal-container#organization_link_modal
  .modal-window
    .modal-header
      Add Organization Link
      %button.btn-close
        ✕
    .modal-body
      = form_for OrganizationLink.new do |f|
        .form-input
          = f.label :organization_id
          = f.collection_select :organization_id, current_user.organizations.uniq, :id, :name
        .form-input
          = f.label :name
          = f.text_field :name
        .form-input
          = f.label :link
          = f.text_field :link
        .form-input
          = f.label :description
          = f.text_area :description, cols: 20, rows: 10
        .form-submit{style: 'margin-top: 44px'}
          = f.submit