.modal-container#task_modal
  .modal-window
    .modal-header
      Create new Task
      %button.btn-close
        ✕
    .modal-body
      = form_for current_user.tasks.build do |f|
        .form-input
          = f.label :assigned_to_user_id
          = f.collection_select :assigned_to_user_id, current_user.my_directory, :id, :full_name
        .form-input
          = f.label :notes
          = f.text_area :notes, cols: 20, rows: 10
        .form-input.date-select
          = f.label :due_at
          = f.datetime_select :due_at
        .form-input
          = f.label :attachment
          = f.file_field :attachment
        .form-submit{style: 'margin-top: 44px'}
          = f.submit