.modal-container#user_grade_modal
  .modal-window
    .modal-header
      Create New Grade
      %button.btn-close
        ✕
    .modal-body
      = form_for current_user.user_grades.build do |f|
        .form-input
          = f.label :course
          = f.text_field :course
        .form-input
          = f.label :grade
          = f.text_field :grade
        .form-input
          = f.label :notes
          = f.text_area :notes, cols: 20, rows: 10
        .form-input
          = f.label :attachment
          = f.file_field :attachment
        .form-submit{style: 'margin-top: 44px'}
          = f.submit
