.container.white
  .grid-item.w-1_4
    %br
  .grid-item.w-2_4.full-height
    .table-container
      .table-title
        #{current_user.first_name}'s Links
        - if current_user.can_create? OrganizationLink
          %button.plus-btn{'data-modal-id': 'organization_link_modal'}
            +
      %table.table
        %thead
          %tr
            %th Organization
            %th Link
            %th Description
            %th &nbsp;
        %tbody
          - @organization_links.each do |org_link|
            %tr
              %td
                = org_link.organization.name
              %td.text-center
                = link_to org_link.name, org_link.link, target: :_blank
              %td
                = org_link.description
              - if current_user.can_delete? OrganizationLink
                %td
                  = button_to 'Delete', {controller: :organization_links, action: 'destroy', id: org_link.id }, method: :delete


- if current_user.can_create? OrganizationLink
  = render partial: 'application/modal/organization_link_modal'
