.container.white.full-height
  .grid-item.w-2_3.full-height
    .table-container.right-border
      .table-title
        Forms in progress
      %table.table
        %thead
          %tr
            %th
              Organization
            %th
              Name
            %th
              Notes
            %th
              Attachment
        %tbody
          - @forms.each do |form|
            %tr
              %td
                = form.organization.name
              %td
                = form.name
              %td
                = form.notes
              %td
                = display_attachment(form.attachment)


  .grid-item.w-1_3.full-height
    .table-container.right-border
      .table-title
        Create New Form
      %table.table
        %thead
          %tr
            %th
      .form-items
        .form-item
          = svg_icon 'admin_team'
          .title
            Administrative
            %br
            Team
        .form-item
          = svg_icon 'standards_ethics_team'
          .title
            Standards &
            %br
            Ethics Team

        .form-item
          = svg_icon 'finance_team'
          .title
            Finance
            %br
            Team

        .form-item
          = svg_icon 'social_enrichment_team'
          .title
            Social Enrichment
            %br
            Team

        .form-item.active
          = svg_icon 'total_membership_education_team'
          .title
            Total Membership
            %br
            Education Team

        .form-item
          = svg_icon 'recruitment_marketing_team'
          .title
            Recruitment &
            %br
            Marketing Team

        .form-item
          = svg_icon 'panhellenic_team'
          .title
            Panhellenic
            %br
            Team

        .form-item
          = svg_icon 'organizational_chart'
          .title
            Organization
            %br
            Chart


/ .row
/   %h3
/     %p #{current_user.full_name}'s Forms

/ %table.table.table-hover.table-condensed
/   %tr
/     %th
/       Organization
/     %th
/       Name
/     %th
/       Notes
/     %th
/       Attachment
/     %th
/       View Submissions
/   - @forms.each do |form|
/     %tr
/       %td
/         = form.organization.name
/       %td
/         = form.name
/       %td
/         = form.notes
/       %td
/         - if form.attachment.present?
/           = link_to "Attachment", form.attachment.url
/       %td
/         = link_to "Submissions", form_form_submissions_path(form)

