//= require base/fonts
//= require base/pie_chart
//= require base/modal

//= require base/components
//= require pages/home

//= require base/header
//= require base/header_menu

//= require base/page_calendar
//= require fullcalendar
//= require base/fullcalendar_overrides

//= require login

//= require pages



html, body {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  //background-color: #ebfafc;
}