@import "variables";

.login-page {
  background: image-url('login_bg.png') no-repeat #ffffff;
  background-size: cover;

  .login-box {
    width: 250px;
    height: 280px;
    position: relative;
    float: right;
    top: 50%;
    margin: -140px 20% 0 0;

    .logo-title {
      text-align: center;

      svg.icon {
        height: 72px;
        width: 250px;
      }
    }

    .login-form {

      .fields {
        margin: 0 14px;

        .field {
          margin-bottom: 10px;

          .icon {
            float: left;
            height: 30px;
            width: 30px;
            min-height: 30px;
            min-width: 30px;
            background-color: #00bcd8;
            border-radius: 8px 0 0 8px;
          }

          input {
            display: block;
            width: calc(100% - 50px);
            border: none;
            outline: none;
            margin: 0 0 0 30px;
            height: 30px;
            padding: 0 10px 0 10px;
            border-radius: 0 8px 8px 0;

            &:focus {
              border: none;
              outline: none;
            }

            &:-webkit-autofill {
              -webkit-box-shadow: 0 0 0 30px white inset;
            }
          }
        }
      }

      input[type=submit] {
        display: block;
        padding: 10px 20px 10px 20px;
        background-color: #f37a4a;
        font-size: 16px;
        margin: 20px auto;
        border: none;
        border-radius: 8px;
        color: #ffffff;
        cursor: pointer;
      }

      .forgot-password-link{
        display: block;
        text-align: center;

        a {
          text-decoration: none;
          color: $site-base-font-color;
          font-size: 16px;
        }
      }

      .terms-conditions {
        color: $site-base-font-color;
        font-size: 10px;
        margin: 10px 0 0 0;
        text-align: center;
      }
    }
  }
}