@import "pages/profile";
@import "pages/home";
@import "pages/forms";
@import "pages/teams";
@import "pages/chat";

@import "variables";

.content-wrapper {
  display: block;
  margin: 0;
  padding: 10px 0 0 0;
  background-color: $site-menu_line-color;

  .content {
    display: block;
    padding: 0;
    margin: 0;
  }
}