.container.white.full-height
  .grid-item.w-1_4
    %br
  .grid-item.w-2_4.full-height
    .table-container
      .table-title
        #{current_user.full_name}'s Grades
        %button.plus-btn{'data-modal-id': 'user_grade_modal'}
          +
      %table.table
        %thead
          %tr
            %th Course
            %th Grade
            %th Notes
            %th &nbsp;
            %th &nbsp;
        %tbody
          - @user_grades.each do |grade|
            %tr
              %td
                = grade.course
              %td
                = grade.grade
              %td
                = grade.notes
              %td
                = display_attachment(grade.attachment)
              %td
                = button_to 'Delete', {controller: :user_grades, action: 'destroy', id: grade.id }, method: :delete

= render partial: 'application/modal/user_grade_modal'

/ .grid-item.w-1_3f.full-height
/   .table-container.left-border
/     .table-title
/       In Good Standing
/     %table.table
/       %thead
/         %tr
/           %th
/             Name
/           %th
/             GPA
/           %th
/             View
/       %tbody
/         - 5.times do
/           %tr
/             %td
/               = current_user.full_name
/             %td
/               = 3.4
/             %td
/               = link_to '>', user_path(current_user)

/ .grid-item.w-1_3f.full-height
/   .table-container.left-border
/     .table-title
/       Probation
/     %table.table
/       %thead
/         %tr
/           %th
/             Name
/           %th
/             GPA
/           %th
/             View
/       %tbody
/         - 5.times do
/           %tr
/             %td
/               = current_user.full_name
/             %td
/               = 3.4
/             %td
/               = link_to '>', user_path(current_user)

/ .grid-item.w-1_3f.full-height
/   .table-container.left-border
/     .table-title
/       ???
/     %table.table
/       %thead
/         %tr
/           %th
/             Name
/           %th
/             GPA
/           %th
/             View
/       %tbody
/         - 5.times do
/           %tr
/             %td
/               = current_user.full_name
/             %td
/               = 3.4
/             %td
/               = link_to '>', user_path(current_user)


