.container.white
  .grid-item.w-1_4
    %br
  .grid-item.w-2_4.full-height
    .table-container
      .table-title
        Birthdays
      %table.table
        %thead
          %tr
            %th Name
            %th Birthday
        %tbody
          - @birthdays.each do |bd|
            %tr
              %td
                = bd[:name]
              %td
                = bd[:birthday]
