%header.header
  .logo-search-box
    = link_to root_path do
      = image_tag 'logo.png', height: 50, class: 'logo'

    .search-box
      = link_to root_path, class: 'menu-icon-link' do
        = svg_icon 'home'

      %a.menu-icon-link
        = svg_icon 'search'

      %input.search{type: :text, placeholder: 'Search'}

  .user-menu-box
    .user-box
      .user-avatar
        = link_to my_info_users_path do
          = image_tag current_user.image.url, height: 50

        - if @num
          %span.info-red-dot
            5
      .user-text-content
        .user-name
          = current_user.full_name
        = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'logout-link'

    .menu-container
      .menu-show-more#menu_show_more ...
      .menu
        = menu_item my_flow_path, 'my_flow', 'My Flow', 0, 'my_flow'
        = menu_item tasks_path, 'tasks', 'Tasks', 0
        = menu_item calendar_index_path, 'calendar', 'Calendar', 0
        -#= menu_item '#', 'member_engagement', 'Member Engagement', 0
        -#= menu_item '#', 'chapter_performance', 'Chapter Performance', 1
        = menu_item channels_path, 'channels', 'Channels', 0, 'index,show'
        = menu_item budgets_path, 'expenses', 'Expenses', 0
        = menu_item dues_path, 'dues', 'Dues', 0
        = menu_item users_path, 'directory', 'Directory', 0, 'index,show'
        = menu_item points_transactions_path, 'points', 'Points', 0
        = menu_item teams_path, 'teams', 'Teams', 0
        = menu_item user_grades_path, 'scholarship', 'Scholarship', 0
        = menu_item forms_path, 'forms', 'Forms', 0

        = menu_item direct_messages_path, 'message', 'Message', current_user.unread_messages_count
        = menu_item organization_links_path, 'my_links', 'My Links', 0
        = menu_item points_transactions_path, 'points', 'Points', 0
        -#= menu_item '#', 'organizational_chart', 'Organizational Chart', 0
        -#= menu_item '#', 'panhellenic_team', 'Panhellenic Team', 0
        = menu_item meeting_notes_path, 'minutes', 'Minutes', 0
        = menu_item root_path, 'house_corporation', 'House Corporation', 0
        = menu_item my_info_users_path, 'my_info', 'My Info', 0, 'my_info'
        = menu_item birthdays_path, 'birthday', 'Birthday', 0

