- route_attr = Rails.application.routes.recognize_path menu_item_path
- is_active = controller.controller_name == route_attr[:controller]
- is_active &&= actions.include?(action_name) unless actions.blank?
.menu-item{class: ('active' if is_active)}
  = link_to menu_item_path, class: 'link', title: title do
    .menu-icon.hovered-icon
      = svg_icon(svg_name)
      - if num_count > 0
        .info-red-dot
          = num_count
    .text
      = title