.pie-chart
  - dash_offset = (316 / 100) * percentage
  %svg{viewBox: '0 0 100 100'}
    %circle.progress{r: 50, cx: 50, cy: 50, 'stroke-dashoffset': dash_offset}
    %circle.text{r: 34, cx: 50, cy: 50, fill: 'red'}
    %text{x: 50, y: -40}
      #{percentage}%